input {
    file {
        path => "/home/vtretyv/Documents/Hack-Reactor-Ubuntu/Fresh/events_data_2.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter {
    csv {
        separator => ","
        columns => ["id", "listing_id", "time", "type", "metadata"]
    }
    mutate {
        convert =>{
        "id" => "integer"
        "listing_id" => "integer"
        "type" => "string"
        "metadata" => "string"
        }
    } 
    date {
        match => ["time","yyyy-MM-dd HH:mm:SSS"]
    }
}
output{
    elasticsearch {
        hosts => "localhost"
        index => "events"
        document_type => "event_fired"
    }
    stdout {}
}